* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

.calc-container {
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
  border: 3px solid black;
  border-radius: 20px;
  width: 440px;
  padding: 25px;
}

.screen-container {
  height: 120px;
  background-color: grey;
  border: 3px solid black;
  border-radius: 7px;
  margin-bottom: 35px;
  padding: 10px 15px;
}

#top-screen {
  font-size: 1.2rem;
  text-align: right;
  line-height: 39px;
  padding-right: 5px;
}

#bot-screen {
  font-size: 3rem;
  text-align: right;
  line-height: 55px;
}

.keys-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.keys-container button {
  width: 90px;
  height: 75px;
  border-radius: 7px;
  border: 3px solid rgb(0, 0, 0);
  background-color: grey;
  padding: 0;
}

.footer {
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 0;
  background-color: grey;
}

#clear,
#del {
  width: 139px;
}

body {
  margin: 0;
}
